@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@layer base {
    body {
        @apply font-[Roboto];
    }

    li {
        @apply px-4;
        @apply cursor-pointer
    }

    
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 250px;
    /* padding-left: 50px; */
    /* width: 400px; */
    transition: background-image .5s ease-in-out !important;

}

.content-div:hover {
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.1))!important;
    
}

.gradient-text {
    background-image: linear-gradient(to right, #95d5b2, rgba(14, 230, 238, 0.8));
    -webkit-background-clip: text; /* For Safari and older versions of Chrome */
    background-clip: text;
    color: transparent;
  }

.lower-text {
    margin-top: 100px;
}

.lower-text-2xl {
    margin-top: 200px;
 
}

.lower-text-3xl {
    margin-top: 300px;
 
}

.back-color {
    background-image: linear-gradient(to right, #95d5b2, rgba(14, 230, 238, 0.8)); 
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./assests/layer1.svg');
}

.layer2 {
    background-image: url('./assests/layer2.svg');
}

.layer3 {
    background-image: url('./assests/layer3.svg');
}

.layer4 {
    background-image: url('./assests/layer4.svg');
}

.scatter {
    background-image: url('./assests/scatter.png');
}